digg/InfluenceModels
digg/digg_learn/
digg/learn/
digg/raw/
digg/temp/
flickr/InfluenceModels
flickr/flickr_learn/
flickr/learn/
flickr/raw/
flickr/temp/
flixster/InfluenceModels
flixster/flixster_learn/
flixster/learn/
flixster/raw/
flixster/temp/
twitter/InfluenceModels
twitter/learn/
twitter/raw/
twitter/temp/
twitter/twitter_learn/
pvldb12_code/
